<footer class="py-4">
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Address: 123 Calle Principal</li>
                    <li>Phone: +123456789</li>
                    <li>Email: infoexample.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Social media</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <p class="text-center">&copy; 2024 Your website. All right reserved.</p>
</footer>